* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #070707;
    line-height: 1.6;
   
}

@font-face {
    font-family: myfont;
    src: url("./GreatVibes-Regular.ttf");
}
#main{
    width: 100%;
    height: 100%;
}
#main >h1{
    font-size: 350px;
    font-weight: 530;
    margin-top: 0;
}

.img1{
    width: 380px;
    height:500px;
    position: absolute;
    left:870px;
    top:450px

}
.img2{
    width: 280px;
    height:280px;
    position: absolute;
    left:480px;
    top:600px
}
.img3{
    width: 350px;
    height:350px;
    position: absolute;
    left:680px;
    top:750px

}

#upper{
    width:100%;
    padding:40px;
    padding-bottom: 0;
    
}
#upper h2{
    display: inline;
    margin-left: 360px;
    margin-right: 400px;
    font-size: 30px;
}

.a1{
    text-decoration: none;
    font-size: 15px;
    color:black;
    font-weight:800 ;
    padding:15px;
}
.a2{
    text-decoration: none;
    font-size: 15px;
    color:black;
    font-weight:800 ;
    padding:15px;
}

#left{
    width: 400px;
    text-align: justify;
    padding: 40px;
    margin-top: 230px;
}
#left h2{
    font-size: 19px;
    font-weight: 700;
}

#down h1{
    font-size: 50px;
    font-weight: 600;
    font-family: myfont;
   
    padding-left: 30px;
    display: inline;
    padding-right: 1000px;
}

.a3{ 
    font-size: 15px;
    color:black;
    font-weight:00 ;
    padding:15px;
}
