* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-family: myfontsemibold;
    background-color: #f4f4f4;
    color: white;
    line-height: 1.6;
    
   
}
@font-face {
    font-family: myfontsemibold;
    src: url(./sf-pro-display_semibold.woff2);
}
@font-face {
    font-family: myfontbold;
    src: url(./sf-pro-display_bold.woff2);
}
    #main{
        width: 100%;
        height: 100%;
    }

#web{
    width: 100%;
   height: 100%;
    background-color: black;
}
#upper{
    width: 100%;
    height: 70px;
    display: flex;
    color: white;
    background-color:#1D1D1F;
    justify-content: center;
    align-items: center;
    gap:30px;
    
}
.a1{
    color: white;
     text-decoration: none;
     font-size: 17px;
    font-weight: 300;
     font-family: myfontsemibold;
}

#heading{
   
    padding: 10px;
}
#heading h1{
    font-family: myfontbold;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin-top:30px;
}

#heading h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100 ;
    text-align: center;
     margin-top:0px;

}

#button{
    display: flex;
    justify-content: center;
    gap:42px;
}

.btn{
    background-color: royalblue;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    color: #f4f4f4;
    font-size: 16px;
    border: none;
}

#img-down{
    display: flex;
    justify-content: center;
}
.img1{
    background-size: cover;
   margin-top: 60px;
    width: 900px;
}

