* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
   
}

@font-face {
    font-family: Myfont;
    src: url(./Qermola.otf);
}

#gradient{
    width:100%;
    height:100vh;
    position: fixed;
    background-image: url('./thunder.jpg');
    background-size: cover;
    background-position: center;
}
h1{
    font-family: 'Myfont', cursive;
    font-size: 48px;
    text-align: center;
    color: white;
    margin-top: 80px;
    font-weight: 200;
}
.explore{
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    
    margin-left: 665px;
    margin-top: 30px;
    background:#49333F;
    color: white;
    text-size-adjust: inherit;
    text-shadow: #330;
    font-weight: 600;
    font-size: 20px;
}
