*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

main{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 220px 220px auto;
    grid-template-areas: "left-top top-center top-right"
                          "left-top center bottom-right"
                          "left-bottom left-bottom bottom-right";
    
    padding: 10px;
}

#left-top{
    
    grid-area: left-top;
 
}
#left-top img{
    width:600px;
    height: 420px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 13px ;
    overflow: hidden;
}

#top-center{
    
     grid-area: top-center;
}
#top-center img{
    width:330px;
    height: 200px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 13px ;
    overflow: hidden;
}

#top-right{
    
     grid-area: top-right;
}
#top-right img{
    width:500px;
    height: 200px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 13px ;
    overflow: hidden;
}
#center{
    
     grid-area: center;
}
#center img{
    width:330px;
    height: 200px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 13px ;
    overflow: hidden;
}
#left-bottom{
    
     grid-area: left-bottom;
}
#left-bottom img{
    width:950px;
    height: 310px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 13px ;
    overflow: hidden;
}
#bottom-right{
    
     grid-area: bottom-right;
}
#bottom-right img{
    width:500px;
    height: 540px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 13px ;
    overflow: hidden;
}