body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}
h1{
    font-size: 36px;
    color: orchid;
    text-align: center;
    margin-bottom: 20px;

}
p{
    font-size: 16px;
    color: brown;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}
a{
    color: cyan;
    text-decoration: none;
}
.alertButton {
    background-color: orchid;
    color: black;
    border: none;
    text-decoration:none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}