body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}
h1{
    font-size: 36px;
    color: yellow;
    text-align: center;
    margin-bottom: 20px;

}
p{
    font-size: 16px;
    color: green;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}
a{
    color: #1a73e8;
    text-decoration: none;
}