*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:
  100px 
  200px 
  400px
   150px 
   350px
   250px 
   350px 
    350px 
     350px 
  350px
  350px
  350px
  400px;

  grid-template-areas:
  "header header header header"
  "section-left1 section-right2 section-right2 section-right2"
  "img1 img1 img1 img1"
  "article article article article"
  "section-left3 section-left3 section-right3 section-right3"
  "section-left4 section-left4 section-right4 section-right4"
  "gallery1 gallery1 gallery1 gallery1"
  "gallery2 gallery2 gallery2 gallery2"
  "section-left5 section-left5 section-right5 section-right5"
  "figure-left figure-left section-right6 section-right6"
  "section-left6 section-left6 figure-right figure-right"
  "section-left7 section-left7 section-right7 section-right7"
  "footer footer footer footer";

  gap:10px;
  padding: 20px 20px;
    
}

header{
    grid-area:header;
    display: flex;
    justify-content: space-between;
    color: black;
}
#logo{
    width: auto;
    height: auto;
}
#logo img{
    width: 180px;
    height:60px;
}

#link{
    width: auto;
    height: auto;
    display: flex;
    margin-left: 350px;
    margin-top: 20px;
    justify-content: center;
    gap:60px
}
.link{
    font-size: 15px;
    color:rgba(0, 0, 0, 0.723);
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.link:hover{
    text-shadow: 0.4px 0.4px 0.4px #011221;
    transition: all ease 0.3s;
    color: #003766;
}
#button{
     width: auto;
    height: auto;
    display: flex;
    margin-left: 250px;
    margin-top: 10px;
    justify-content: center;
    gap:60px
}
#btn-signup{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    color: #003766;
    font-size: 15px;
    background-color: white;
    border: 2px solid #003766;

}
#btn-get{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    color: white;
    font-size: 15px;
    background-color: #003766;
    border:none;

}


.section-left1{
    grid-area:section-left1;
    
    padding-top: 20px;
}
.section-left1 h1{
    font-size: 50px;
    color: black;
    font-weight: 300;
}

.section-right2{
    grid-area:section-right2;
   padding:20px 40px;
}
.section-right2 p{
    font-size:20px;
}
.img1{
    grid-area:img1;
    background:salmon;
}
article{
    grid-area:article;
    background:salmon;
}
.section-left3{
    grid-area:section-left3;
    background:salmon;
}
.section-right3{
    grid-area:section-right3;
    background:salmon;
}
.section-left4{
    grid-area:section-left4;
    background:salmon;
}
.section-right4{
    grid-area:section-right4;
    background:salmon;
}
.gallery1{
    grid-area:gallery1;
    background:salmon;
    display:flex;
    justify-content: space-around;
    gap:10px;
}
.gallery2{
    grid-area:gallery2;
    background:salmon;
    display:flex;
    justify-content: space-around;
    gap:10px;
}
.shot{
    width:280px;
    padding: 10px;
    margin: 20px;
    height:300px;
    background-color: white;
}

.section-left5{
    grid-area:section-left5;
    background:salmon;
}
.section-right5{
    grid-area:section-right5;
    background:salmon;
}

.figure-left{
    grid-area:figure-left;
    background:salmon;}

    .section-right6{
    grid-area:section-right6;
    background:salmon;
}

.section-left6{
    grid-area:section-left6;
    background:salmon;
}
.figure-right{
    grid-area:figure-right;
    background:salmon;}

   .section-left7{
    grid-area:section-left7;
    background:salmon;
}
.section-right7{
    grid-area:section-right7;
    background:salmon;
} 
footer{grid-area:footer;
    background:salmon;}


