*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
@mixin image-style(){
    background-position: center;
  background-repeat: no-repeat;
 background-size: cover;

}
@mixin hover-effect(){
    transform: scale(0.98); 
  z-index: 5; 
  transition: all ease-in-out 0.6s;
  cursor: pointer;

}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 80%;
    height: 80%;
    background-color: white;
    display: grid;
   
   border-radius: 30px;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b b b"
                         "a c d e ";
    
    padding: 0.5vw;
    gap:0.2vw;
    
    .a{
        grid-area: a;
        background-image: url('https://i.pinimg.com/736x/95/3f/d5/953fd5340965262d869d1556a76f0379.jpg');
        @include image-style();
       border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;
    }
    .a:hover{
        @include hover-effect();
    }
    .b{
        grid-area: b;
         background-image: url('https://i.pinimg.com/1200x/76/43/ff/7643ff1060a5b40d69c1c734bf9afc64.jpg');
        @include image-style();
       border-top-right-radius: 20px;
       
    }
     .b:hover{
        @include hover-effect();
    }
    .c{
        grid-area: c;
        background-image: url('https://i.pinimg.com/736x/d0/e3/25/d0e3252a66c9377b42d79750512e6be8.jpg');
        @include image-style();
       
    }
    .c:hover{
        @include hover-effect();
    }
    .d{
        grid-area: d;
        background-image: url('https://i.pinimg.com/736x/e8/85/94/e885947fe8b8544490fe8fb756d1a1d4.jpg');
        @include image-style();
       
    }
    .d:hover{
        @include hover-effect();
    }
    .e{
        grid-area: e;
        background-image: url('https://i.pinimg.com/736x/8b/36/7c/8b367c529f3534ee9c33dc7a2bade160.jpg');
        @include image-style();
       border-bottom-right-radius: 20px;
    }
    .e:hover{
        @include hover-effect();
    }
}




