*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
    font-family:aeonik;
}
:root{
        --green: black;
}
 @font-face {
        font-family: aeonik;
        font-weight: 200;
        src: url('./AeonikTRIAL-Light.otf');
    };
     @font-face {
        font-family: aeonik;
        font-weight: 500;
        src: url('./AeonikTRIAL-Regular.otf');
    };
     @font-face {
        font-family: aeonik;
        font-weight: 700;
        src: url('./AeonikTRIAL-Bold.otf');
    };
    @mixin desgin(){
         width: 300px;
        height: 300px;
        border-radius: 2rem;
        box-shadow: 0.2rem 0.2rem 1rem rgb(72, 132, 59);
        display: flex;
        justify-content: center;
        align-items: center;
         background-color: #82a96b00;
        
         img{
               @include img();
               background-color:  rgba(245, 235, 235, 0.405);
                box-shadow: 0.1rem 0.3rem 1rem rgb(104, 248, 72);
            }
    }
    @mixin img(){
                width: 5.5rem;
                height: 5.5rem;
                border-radius: 50%;
                padding: 0.8rem;
                 box-shadow: 0.2rem 0.6rem 1rem rgb(26, 26, 26);
                
    }
    @mixin hover(){
                    scale:0.96;
            transition: all ease 0.8s;
            background-position: center;
            background-size: cover; 
            overflow: hidden;
             border-radius: 4rem;
              box-shadow: 0.2rem 0.2rem 1rem rgb(72, 132, 59);
            cursor: pointer;
            img{
               @include img();
                background-color: rgba(202, 199, 199, 0.405);
            }
    }

main{
    width: 100%;
    background-color: var(--green);
    display: flex;
    align-items: flex-end;
     flex-direction: column;
    padding: 2rem;
     
        section.allElem{
            width: 100%;  
            display: flex;
            justify-content: space-evenly;
            gap:1rem;

            .elem{
           @include desgin();
            background-color: #82a96b00;
             box-shadow: 0.2rem 0.2rem 1rem black;
            }
            .elem:hover{
            @include hover();
             background-image: url('https://media3.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3ZjF4cDFpemx6ZW92cnJleTFza2d3NHgxZ283b295cHRxc3dzZXgzNCZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/IGL5GFRvVTtK8O9l7h/giphy.webp');
            }
        }
        .fullElem{
            height: 100vh;
            width: 100%;
            padding: 40px;
            display: block;
            position: static;
            top: 0;
            z-index: 999;
            h1{
            color:white;
            font-size: 3rem;
            }
        }
    }