*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}   
body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
       
    h3{
        color: black;
        font-size: 1.5rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:3rem;
        #heading{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            padding: 2rem 3rem;
            border-radius: 20px;
            gap: 1rem;
            h2{
                color: rgb(248, 249, 246);
                font-size: 1.3rem;

            }
    
    h1{
        color: white;
        font-size: 5rem;
    }
}
    #buttons{
        display: flex;
        gap: 4rem;
    
    #btn1{
        padding: 10px 20px;
        background-color: transparent;
        color:rgb(128, 254, 3);
        border: 1px solid rgb(128, 254, 3);
        border-radius: 12px;
        box-shadow: 0px 0px 10px rgb(128, 254, 3);
        font-size: 1.2rem;
        cursor: pointer;
        flex-direction: row;
    }
     #btn2{
        padding: 10px 20px;
        background-color: rgb(128, 254, 3);
        color: black;
        border: 1px solid rgb(128, 254, 3);
        border-radius: 12px;
        font-size: 1.2rem;
        cursor: pointer;
        flex-direction: row;
    }
    
     #btn2:hover{
       color:rgb(128, 254, 3);
        background-color: black;
        border: 1px solid rgb(128, 254, 3);
         box-shadow: 0px 0px 10px rgb(128, 254, 3);
        
     }

}  

}
}
